doctype html
html(lang="en")

  head
    title 403

    style.
      body {
        font-size: 13px;
        margin: 0;
        color: #4c4c4c;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: center;
      }

      .view {
        padding: 5em 0;
      }

  body
    .view
      h1 403
      h2 Not Authorized!
      p Looks like you followed a bad link or something went wrong.
      p= message
      p Go back to the #[a(href=CONFIG[CONFIG.environment].siteURL) Homepage].
