extends ../layouts/shared.pug

block title
  | 404 — The Debt Collective

block content
  .max-width-3.mx-auto.py4
    .clearfix.md-flex.items-center
      .col.md-col-6.col-12.center
        img(src='/images/global/tdc-hand.png')
      .col.md-col-6.col-12
        h2.pb3.-ttu.-h-sec.-accent: span 404
        h4.pb2.-ff-sec.-fw-300 The page you are looking for can’t be found.
        p
          a.button-clear.-fw-700(href='/')
            svg(width='14' height='14'): use(xlink:href='#svg-arrow-backward')
            span.pl1 Go to homepage.
