extends ../layouts/UserMailer.pug

block title
  div Thanks for your donation to Debt Collective.

block content
  div(style="font-size: 16px; line-height: 142%;")
    div(style="font-family: monospace; color: #000000;")
      div You recently donated $#{amount / 100} to Debt Collective.
      div This action will be recurrent and you'll get charged each month, please contact us to cancel.
