div
  .pt3.pr3.pl3.pb2.-bg-neutral-dark
    h4.pb1 You’re amazing. Time to finalize your dispute.
    p.pb1.-ff-sec You are ready to dispute your ${wage garnishment} with the Department of Education.
    hr.my2
    .relative.pl1.mt4
      svg.absolute.top-0.left-0(width="46" height="56"): use(xlink:href="#svg-fingerprint")
      .px4
        .-caption.-ttu.-fw-500(style="opacity: .5;") Signature
        h4.pb3.-fw-500 #[span.-accent Written records] hearing dispute.
        .-h4.-ff-sec.
          As further evidence for my claim I request the recipient read this
          application in light of past and future applications concerning behavior at
          #[span.-accent ${Corintian College}], including the #[span.-accent ${434}] of others who have submitted this form from the same school.
          I state under penalty of law that the statements made on this request are true and accurate to the best of my knowledge.
        .clearfix.mxn2.pt4.pb2.sm-flex.items-center
          .col.sm-col-2.col-12.pb1.px2: p.-fw-500 Full name
          .col.sm-col-6.col-12.pb1.px2: input.-k-input.-fw(type="text")
          .col.sm-col-4.col-12.pb1.px2.-ff-sec.-accent October 22, 2016
        button.-k-btn.btn-primary.-fw.-fw-700.-ttu Submit my dispute
        .pt2.pb3.center.-caption By clicking Submit my dispute, you agree to our #[a(href=routeMappings.tos.url() target="_blank") Disclaimer action].

