div
  .pt3.pr3.pl3.pb2.-bg-neutral-dark
    h4.pb1 You're on your way to disputing ${wage garnishment} for federal student loans.
    p.-ff-sec Before moving to the next section, we want to give you three options for having your claim reviewed.
    hr.my2
    .clearfix.mxn2.md-flex.flex-wrap
      .col.md-col-4.col-12.p2
        label.Tool__process-option
          input(type="radio" name="process-type" value="written" checked)
          .Tool__process-option-inner.flex.flex-column.-fh
            .flex-auto.pb3
              .Tool__process-option-icon: svg(width="50" height="56"): use(xlink:href="#svg-assignment")
              h4.pb2 Written records
              p.-caption Selecting this option means that you are asking the Department of Education to review your dispute and the evidence you provide on this form and provide you with a written decision.
            .-fw-700(role="button" tabindex="0")
              .-k-btn.btn-dark.-fw.-fw-700.css-btn-selected
                svg.mr1(width="14" height="10"): use(xlink:href="#svg-checkmark")
                | Selected
              .-k-btn.btn-outline.-fw.-white.-fw-700 Choose this process

      .col.md-col-4.col-12.p2
        label.Tool__process-option
          input(type="radio" name="process-type" value="in-person")
          .Tool__process-option-inner.flex.flex-column.-fh
            .flex-auto.pb3
              .Tool__process-option-icon: svg(width="30" height="51"): use(xlink:href="#svg-walking")
              h4.pb2 In-person hearing
              p.-caption Selecting this option means that you want to meet with a Department official in person to present your evidence. You can only attend in person if you can travel to Atlanta, Chicago, or San Francisco.
            .-fw-700(role="button" tabindex="0")
              .-k-btn.btn-dark.-fw.-fw-700.css-btn-selected
                svg.mr1(width="14" height="10"): use(xlink:href="#svg-checkmark")
                | Selected
              .-k-btn.btn-outline.-fw.-white.-fw-700 Choose this process

      .col.md-col-4.col-12.p2
        label.Tool__process-option
          input(type="radio" name="process-type" value="phone")
          .Tool__process-option-inner.flex.flex-column.-fh
            .flex-auto.pb3
              .Tool__process-option-icon: svg(width="38" height="38"): use(xlink:href="#svg-phone")
              h4.pb2 Telephone hearing
              p.-caption Selecting this option means that you will provide a telephone number so that a Department official can call you to discuss your dispute. The Department requires that you be available during business hours on weekdays.
            .-fw-700(role="button" tabindex="0")
              .-k-btn.btn-dark.-fw.-fw-700.css-btn-selected
                svg.mr1(width="14" height="10"): use(xlink:href="#svg-checkmark")
                | Selected
              .-k-btn.btn-outline.-fw.-white.-fw-700 Choose this process
  .py3
    button.-k-btn.btn-primary.-fw.-fw-700 Continue to sign your dispute&hellip;
