.mb2
  .pt3.pr3.pl3.pb2.-bg-neutral-dark
    h4.pb1 We #[span.-accent ❤] debt resisters. Let's get this dispute started!
    p.pb1.-ff-sec This is the part of the dispute where you will explain why you are disputing your federal student debt. Choose the option that best applies to you.
    .right-align
      button.-k-btn.btn-link.-primary I’m a Parent Plus borrower

    .clearfix.mxn2.md-flex.flex-wrap
      .col.md-col-6.col-12.p2
        .Tool__DisputeCard.flex.flex-column.rounded.-fh
          .flex-auto.pb3
            h2 A
            p.pb2.-fw-700 I do not owe the full amount I am being billed for because I repaid some or all of this debt.
            p.pb2 Why do you believe you already paid this debt? Attach a detailed statement and upload any documents that prove you paid.
          button.-k-btn.btn-primary.-fw.-fw-700 This is my situation
      .col.md-col-6.col-12.p2
        .Tool__DisputeCard.flex.flex-column.rounded.-fh
          .flex-auto.pb3
            h2 B
            p.pb2.-fw-700 I should not have to pay this debt because I was lied to or defrauded by my school.
            p.pb2 See the #[a() common causes] of fraud.
          button.-k-btn.btn-primary.-fw.-fw-700 This is my situation
      .col.md-col-6.col-12.p2
        .Tool__DisputeCard.flex.flex-column.rounded.-fh
          .flex-auto.pb3
            h2 C
            p.pb2.-fw-700 I did not have a high school diploma or GED when I enrolled at the school.
            p.pb2 Attach any supporting documents.
          button.-k-btn.btn-primary.-fw.-fw-700 This is my situation
      .col.md-col-6.col-12.p2
        .Tool__DisputeCard.flex.flex-column.rounded.-fh
          .flex-auto.pb3
            h2 D
            p.pb2.-fw-700 When I borrowed to attend my college I had a condition (physical, mental, age, criminal record) that prevented me from using my degree.
            p.pb2 Attach a statement explaining more about the #[a(href="http://www.studentloanborrowerassistance.org/loan-cancellation/school-related/false-certification/disqualifying-status/" target="_blank" rel="noopener noreferrer") condition] that prevented you from using your degree.
          button.-k-btn.btn-primary.-fw.-fw-700 This is my situation
