.px2
  .max-width-1.mx-auto
    h3#modalToolCausesOfFraudTitle.pb3.-accent Common causes of fraud include:
    ul.pt1.pl2.-fw-500
      li.pb2 Improper charges to your student account.
      li.pb2 Aggressive recruiting practices by the school.
      li.pb2 False graduation statistics given by the school.
      li.pb2 False job placement and wage statistics given by the school.
      li.pb2 Housing overcharges.
      li.pb2 Poor quality/lack of supplies (computers, software, utensils, etc.) provided by the school.
      li.pb2 Poor teaching practices by school faculty, such as "Watch this YouTube video to learn."
      li.pb2 Anything else that you can think of that would help strengthen your claim


