- var gaUA = config.googleAnalytics
if gaUA
  // analytics.js
  script.
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '!{gaUA}', 'auto');
    ga('send', 'pageview');
  script(async src='https://www.google-analytics.com/analytics.js')
