header.Header(data-component-header)
  .Header__bg.absolute.top-0.right-0.bottom-0.left-0
  .wrapper.clearfix.px2.-fh
    h1.Header__logo.left.-fh
      a.block(style="padding: 18px 0 22px;" href=routeMappings.root.url())
        svg.Header__logo-svg.block: use(xlink:href="#svg-logo-light")
        .sr-only The Collective Homepage
    nav.right.-fh
      +mixinHeaderNav()
