#debt-collective-header

script.
  /**
   * Do this here so that the header mounts as soon as the mount point is available.
   * This prevents the page from waiting for the whole JS bundle to load before
   * beginning to render the header. Otherwise we end up with a hole in where the
   * header goes until the bundle is done loading & has begun execution
   */
  (function() {
    var dropdownLinks = [
      { text: 'News', href: '#news' },
      { text: 'About the Debt Collective', href: '#about' },
      { text: 'Community Wiki', href: '#wiki' },
      { text: 'Medicare For All', href: '#m4a' }
    ];

    var headerLinks = [
      { text: 'Dispute Your Debt', href: '/dispute-tools' },
      { text: 'Campaigns', href: '#campaigns' },
      { text: 'Events', href: '#events' }
    ];

    const currentUser = !{JSON.stringify(currentUser)};

    if (currentUser && (currentUser.admin || (currentUser.groups && currentUser.groups.includes('dispute-admin')))) {
      headerLinks.push({ text: 'Admin', href: '/admin/disputes' });
    }

    new Vue({
      el: '#debt-collective-header',
      render(h) {
        return h('debt-collective-header', {
          attrs: {
            'header-links': headerLinks,
            'dropdown-links': dropdownLinks,
            'discourse-endpoint': !{JSON.stringify(discourseEndpoint)},
            'login-endpoint': '/login',
            // This should be blank so as to send the logout to just `/logout`
            'tools-endpoint': ''
          },
        });
      }
    });
  })();
