extends ../layouts/application.pug

block title
  | Dashboard — The Debt Collective

block styles
  link(href='/build/stylesheets/campaigns/show.css' rel='stylesheet')
  link(href='/build/stylesheets/dashboard/index.css' rel='stylesheet')

block content
  div
    .bg-light-pattern.relative.-dark.pt2
      .max-width-4.mx-auto
        .clearfix.mxn2
          .col.md-col-7.col-12.px1
            include ./recent-activity
            
            .Campaign_Feed
            .Campaign_FeedLoader.center.pt4: .-k-loader.align-top Loading...
            
          .col.md-col-5.col-12.px1
            if dispute
              include ./dispute
              
            include ./collectives-list
block scripts
  script.
    window.addEventListener('load', function() {
      var options = {
        userCampaigns: !{JSON.stringify(user_campaigns)},
        userCollectives: !{JSON.stringify(collectives)},
        currentUser: !{JSON.stringify(UserRenderer(currentUser))},
        currentURL: !{JSON.stringify(currentURL)},
      };

      new ViewDashboardIndex(options);
    }, true);
