@import '../../base';
@import '../../components/PlayButton';

.Tools__intro {
  margin-top: 0;
  border-bottom: 3px solid color(var(--k-color-palette-neutral-light) alpha(20%));

  &-image {
    display: none;
  }
}

.ToolCard {
  & h4 {line-height: 1.19em; /* 25px */}

  &__about-trigger {
    padding: 0;
    color: var(--k-color-palette-neutral-dark);
    text-decoration: underline;
  }
}

.Tools__title {
  text-align: center;
  z-index: 1;

  & br {display: none}
}

.Tools__offset-text {
  padding: 1rem 1rem 0;
}

.Tools__Modal {
  & h3,
  & strong {
    color: var(--k-color-palette-accent);
  }

  & h3 {
    padding-bottom: var(--space-2);
  }

  & p {
    padding-top: var(--space-2);
    font-weight: 500;
  }
}

@media (--breakpoint-md) {
  .Tools__intro {
    margin-top: -120px;

    &-image {
      display: block;
      transform: translate3d(-40px, 0, 0);
    }
  }

  .Tools__title {
    padding-left: 18rem;
    text-align: left;

    & br {
      display: initial;
    }
  }

  .Tools__offset-text {
    padding: 4rem 0 0 4rem;
  }
}
