{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "browser": true
  },
  "plugins" : [
    "mocha"
  ],
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules" : {
    "new-cap": [
      1,
      {
        "capIsNewExceptions": [
          "Class",
          "Module",
          "Interfase",
          "RouteMappings",
        ]
      }
    ],
    "mocha/no-exclusive-tests": "error",
    "no-param-reassign": [
      0,
      {}
    ]
  }
}
