cache:
  paths:
    - node_modules/

stages:
  - test
  - build
  - deploy

test:
  retry:
    max: 2
  image: node:8.17.0-stretch
  stage: test
  services:
    - postgres:10
    - redis:4
  variables:
    POSTGRES_DB: dispute_tools_test
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: letmein
    DB_HOST: postgres
    DB_USER: postgres
    DB_PASSWORD: letmein
    REDIS_HOST: redis
    REDIS_PORT: 6379
  before_script:
    - cp config/config.sample.js config/config.js
    - cp config/knexfile.sample.js knexfile.js
    - apt-get update && apt-get install -y \
      pdftk \
      fontconfig \
      ghostscript \
    - wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add - \
      && sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ stretch-pgdg main" >> /etc/apt/sources.list.d/pgdg.list' \
      && apt-get update && apt-get install -y postgresql-client-10 \
    - yarn install
    - yarn build
  script:
    - yarn test
    - yarn report

build:
  retry:
    max: 1
  image: docker:stable
  services:
    - docker:dind
  stage: build
  script:
    - docker build -t debtcollective/dispute-tools:${CI_COMMIT_SHORT_SHA} .
    - mkdir -p image
    - docker save debtcollective/dispute-tools:${CI_COMMIT_SHORT_SHA} > image/dispute-tools.tar
  artifacts:
    paths:
      - image

deploy:
  retry:
    max: 1
  image: docker:stable
  services:
    - docker:dind
  stage: deploy
  services:
    - docker:dind
  before_script:
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - docker load -i image/dispute-tools.tar
  script:
    - docker tag debtcollective/dispute-tools:${CI_COMMIT_SHORT_SHA} debtcollective/dispute-tools:latest
    - docker push debtcollective/dispute-tools:${CI_COMMIT_SHORT_SHA}
    - docker push debtcollective/dispute-tools:latest
  only:
    - master
