<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Neonode</title>
    <link rel="icon" type="image/gif" href="/img/favicon.gif" />

    <!-- webpack -d -->
    <script src="/dist/bundle.js"></script>
</head>

<body>
    <header>
        <h1><img src="/img/neon-logo.png" width="80" /><span>It works!</span></h1>
    </header>
    <div class="yield">
        <%= yield %>
    </div>
    <footer>
        <p><a href="http://github.com/sgarza/generator-neonode" target="_blank"><span>Neonode</span></a></p>
    </footer>
</body>

</html>
