<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Debt Collective</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="We are debtors and allies organizing to renegotiate and resist our debts. Alone, our debts are a burden. Together, they make us powerful.">
  <meta name="keywords" content="Debt,Student loans,Everest,Corinthian,Student Debt,Medical Debt,Credit Card Debt,Mortgage Debt,Bankruptcy,Debt discharge,Debt cancellation,Erase my debt,Jubilee,Strike Debt,Confused about debt,Rolling Jubilee,Interest rates,Principle reduction,What happens if I don’t pay my debt?,Judgement Debt,Bad Credit,Credit Score,Credit Report,Credit Reporting Agencies,Can’t Pay My Debt,Debt strike,Debt union,Credit cards,Fair credit,Wages garnished,Consumer rights,Strike creditors,Debt refusal,Debt resistance,Debt Help">
  <link rel="icon" type="image/gif" href="/images/favicon.gif" />
  <link rel="stylesheet" href="/build/stylesheets/style.css">
</head>
<body>
  <header class="Header flex items-center border-bottom">
    <div class="wrapper flex flex-auto">
      <h1 class="flex-auto">
        <a href="/" title="The Debt Collective">LOGO</a>
      </h1>
      <nav>
        <ul class="list-reset flex items-center -fh">
          <li class="px2">
            <a title="Browse Collectives">Collectives</a>
          </li>
          <li class="px2">
            <a title="Browse Tools and Services">Tools &amp; Services</a>
          </li>
          <li class="px2">
            <a href="/signup" title="Sign up">Sign up</a>
          </li>
          <li class="pl2">
            <a title="Log in">Log in</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <%= yield %>

  <script src="/build/javascripts/application.js"></script>
</body>
</html>
