<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Neonode</title>
  <link rel="icon" type="image/gif" href="/images/favicon.gif" />
  <link rel="stylesheet" href="/build/stylesheets/style.css">
</head>
<body>
  <div style="padding: 2rem;">
    <header style="margin: 0 0 1rem; text-align: center;">
      <div>
        <img src="/images/neonode-logo.svg" alt="Neonode logo" width="300" style="max-width: 100%;" />
      </div>
      <p>It Works!</p>
    </header>
    <div class="yield">
      <%= yield %>
    </div>
    <footer style="text-align: center;">
      <p>
        <a href="https://empathia.github.io/neonode/" target="_blank">https://empathia.github.io/neonode/</a>
      </p>
    </footer>
  </div>
  <script src="/build/javascripts/application.js"></script>
</body>
</html>
