doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    meta(name='csrf-token' content=csrfToken)
    link(rel='icon' type='image/png' href='/images/favicon.png')

    title
      block title
        | The Debt Collective

    script(src=`https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.${NODE_ENV === 'production' ? 'min.' : ''}js`)
    link(rel='stylesheet' href='https://s3.amazonaws.com/tds-static/css/dc-vue-header/0.0.1/index.min.css')
    script(src='https://s3.amazonaws.com/tds-static/js/dc-vue-header/0.0.1/index.min.js')
    script.
      Vue.component(DebtCollectiveHeader.name, DebtCollectiveHeader)

    link(rel='stylesheet' href='/build/index.css')

  body
    include ../includes/svg/sprite.svg

    main(aria-hidden='false' role='main')
      include ../includes/header
      block content
      include ../includes/footer

    include ../includes/donation-flow

    include ../mixins/utils
    script(src='/build/shared.js')
    script(src='/build/index.js')
    script(src='https://js.stripe.com/v2/' async)
    script.
      window.addEventListener('load', function() {
        var options = {
          currentUser: !{JSON.stringify(UserRenderer(currentUser))},
          currentURL: !{JSON.stringify(currentURL)},
        };

        new ViewDefault(options);
      }, true);
