#letter
  p Send to:
  br
  each address in agencies
    each line in address
      p.address #{line}
    br

style.
  #letter {
    font-size: 10pt;
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
  }

  p {
    margin: 0;
  }
  p.address {
    margin: 0 0 0 20px;
  }
