.-is-admin {
  & .Header__bg {
    background-color: var(--k-color);
  }

  & .Header__link,
  & .Header .Dropdown__head {
    color: var(--k-background-color);
  }

  & .Header__dropdown-item {
    color: var(--k-color);
  }
}

.Header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  color: var(--k-color);
  border-bottom: 1px solid var(--text-4);

  &__bg {
    z-index: -1;
    transform: translate3d(0, 0, 0);
    background-color: var(--k-background-color);
  }

  & .Dropdown__label {
    max-width: 150px;
  }

  .table.-fh {
    &:focus,
    &:active,
    a:focus,
    a:hover {
      outline: 0;
      border: none !important;
      border-color: transparent !important;
      box-shadow: none !important;
      color: var(--k-color) !important;
    }
  }
}

.Header__logo {
  font-size: 1rem;

  &-svg {
    display: block;
    height: var(--logo-height);
    margin: 9px 9px;

    &.-small {
      display: none;
    }

    @media (max-width: 880px) {
      &.-small {
        display: block;
      }

      &.-large {
        display: none;
      }
    }
  }
}

.Header__link {
  color: var(--k-color);

  &.active {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0;
      border: 2px solid var(--k-color-palette-dc-red);
      border-radius: 5px;
      width: 85%;
      background-color: var(--k-color-palette-dc-red);
      transform: translateY(-16px) translateX(10px);
    }
  }
}

.Header__dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25em 1.75em;
  border: none;
  font: inherit;
  font-weight: 500;
  text-align: left;
  color: var(--k-color);
  background-color: inherit;
  cursor: pointer;
  transition: color 260ms;
}

.nav-item-wrapper {
  padding: 6px 18px;
  border-radius: 4px;
  box-sizing: border-box;

  &:hover {
    border: 1px solid var(--text-2);
    padding-left: 17px;
    padding-right: 17px;
    color: var(--k-color) !important;
  }
}

.active {
  .nav-item-wrapper {
    &:hover {
      border: none;
      padding: 6px 18px;
    }
  }
}
