.Modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transform: translate3d(0, 150px, 0);
  transition: visibility 0ms linear 300ms, opacity 160ms linear, transform 300ms ease-in;
  background: var(--k-background-color)
    url('https://s3.amazonaws.com/tds-static/img/debtcollective/0.0.1/bg-tile.png');
  background-repeat: repeat;
  background-size: 20%;

  &[aria-hidden='false'] {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 200ms linear, transform 300ms cubic-bezier(0.17, 0.84, 0.44, 1);
    transition-delay: 0ms;
  }
}

.Modal__close {
  position: fixed;
  top: 2rem;
  right: 2rem;
  border: none;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--text-1);

  & > svg {
    display: inline-block;
    vertical-align: top;
    fill: var(--text-1);
    transform: scale(1);
    transition: transform 100ms ease-out;
  }

  &:hover > svg,
  &:focus > svg {
    transform: scale(1.2);
  }
}

.Modal__body {
  overflow: auto;
  padding: 5rem 0;
  height: 100%;
  color: var(--text-0);
}
