.PlayButton {
  width: 4.375rem;

  &__btn {
    height: 4.375rem;
    padding-top: 1.25rem;
    text-align: center;
    background-color: var(--k-color-palette-primary);

    & > svg {
      width: 1.563rem;
      height: 1.875rem;
      fill: #fff;
    }
  }
}
