extends ../layouts/ContactMailer.pug

block title
  div #{name}

block content
  - var activateURL = ``
  div(style="font-size: 16px; line-height: 142%;")
    div(style="font-family: monospace; color: #000000;")
      div #{message}
