div(class="-bg-black -white")
  div(class="max-width-2 mx-auto")
    h1 Sign up
    h3 Alone, our debts are a burden; together, they make us powerful. Are you ready to strike?
    form
      div(class="clearfix")
        div(class="col col-8")
          input(class="-fw" type="number" placeholder="Debt amount")
        div(class="col col-4")
          select(class="-fw")
            option(value="") Debt type
      input(class="-fw" type="text" placeholder="Your name")
      input(class="-fw" type="email" placeholder="Your email")
      input(class="-fw" type="password" placeholder="Password")
      div
        label(class="block")
          input(type="checkbox")
          span I accept the
            a Terms &amp; Conditions
      button(type="submit" class="-fw") Sign up
    p(class="center") I’m already a member
      a Log in
