extends ../layouts/application.pug

block title
  | Defense to Repayment Application — The Debt Collective

block styles
  link(href="/build/stylesheets/home/dtr.css" rel="stylesheet")

block content
  .wrapper.py4
    .max-width-5.mx-auto
      .dtr-info.relative
        h4.mb3.pt3.-bw5.border-top.-border-accent
          span.px1.-dark.-bg-accent DEFENSE TO REPAYMENT
          br
          span.px1.-dark.-bg-accent APPLICATION

        h3.mb3 What is Defense to Repayment?

        p.mb3.
          Defense to Repayment (DTR) is a federal law that says people defrauded by their school have a right to the cancellation of their federal loans.
        p.mb3.
          You can file a DTR on the #[a(href='https://borrowerdischarge.ed.gov/FormWizard/BDU/BDULanding.aspx' target='_blank' rel='noopener noreferrer') Department of Education's website].

        p.mb3.
          You should file this dispute if you believe your school lied to you about costs or job placement rates,
          if your signature was forged on any loan documents, if you were misled about how much you were borrowing,
          or for any other reason.

        p.mb3.
          Anyone can file DTR, and there is no risk to doing so. Once your DTR dispute has been received,
          you should be placed in administrative forbearance, which means you will not have to make payments
          while the Department of Education reviews your claim. If you are not automatically placed in forbearance,
          you should contact your servicer and let them know that you are disputing your federal loan. Be aware that interest
          will continue to accrue on your account.

        figure.mb3
          img.fit(src='/images/home/dtr/tdc-ted-mitchell.jpg' alt="TDC - Ted Mitchell"
            srcset='/images/home/dtr/tdc-ted-mitchell@2x.jpg 2x, /images/home/dtr/tdc-ted-mitchell@3x.jpg 3x')
          figcaption.-caption.-neutral-mid Undersecretary Ted Mitchell received the first box of Defense to Repayment disputes on March 31, 2015.

        h4.mb3.-accent What do I need to file?

        p.mb3.
          The following types of documents may be helpful to your application. If you do not have all of these documents, you should still file DTR. #[b The Department has an obligation to investigate every claim].
        p.mb3
          ul.pl0.ml2.-fw-500
            li Documentation to confirm your school, your program of study, and your dates of enrollment—such as transcripts, enrollment agreements, and registration documents
            li Promotional materials from the school
            li Emails with school officials
            li Your school’s manual or course catalog

        br

        h4.mb3.-accent What happens after I file?

        p.mb3.
          We do not know how long it will take the Department to review your application.
          DTR is a new debt dispute process that the Obama administration was forced to put in place
          after a group of for-profit college students went on strike in 2015. The more people file,
          the more pressure we can put on the Department of Education to cancel fraudulent loans and close scam colleges.

        p.mb3.
          The Department of Education or your federal student loan servicer(s) will contact you once the review of your claim
          is complete to inform you of whether your claim was successful or denied. In the meantime, it's important that we
          organize together to demand full debt cancellation for all. Please visit the #[a(href='/collectives/22222222-2222-2222-2222-222222222222') Student Debt Collective forums] to learn
          more, or if you have questions about DTR.

        p.mb3.
          #[a.-k-btn.btn-primary.-fw.-fw-700(href='https://borrowerdischarge.ed.gov/FormWizard/BDU/BDULanding.aspx' rel='noopener noreferrer' target='_blank') Start Defense to Repayment]
