extends ../layouts/application.pug

block styles
  link(href="/build/stylesheets/home.css" rel="stylesheet")

block content
  .wrapper
    | home#index

block scripts
  script(src="/build/javascripts/home/index.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };
      new ViewHomeIndex(options);
    }, true);
