extends ../layouts/application.pug

block styles
  link(href="/build/stylesheets/home/index.css" rel="stylesheet")

block content
  .bg-light-pattern.-dark.px2.pt4
    .max-width-4.mx-auto.center
      h3.HomeSubheading Welcome to The Debt Collective
      h2.HomeHeading.pt3 Alone our debts are a burden. Together they make us powerful.
      img.HomeIllustrationTop.block.fit.pb3(src='/images/home/home-illustration-top.png')
  .px2
    .max-width-4.mx-auto.relative
      .center.relative
        img#glitch-image.block.fit(src='/images/home/home-illustration-bottom.png')
      .HomeDescription
        h4
          span.inline-block.-neutral-mid This is an organizing space where people in debt gather to
          span.inline-block.-white Organize, Resist & Reimagine.
        unless currentUser
          h4.pt1: a.js-signup-link.underlined-link(href=routeMappings.signup.url() title="Join us"): span(data-hover="Join us") Join us
        p.pt4.-caption.-fw-500.-neutral-mid This image was made by #[a.-neutral-mid.underline(href='http://angetran.tumblr.com/' target='_blank' rel='noopener noreferrer') Ange Tran], inspired by the Corinthian 200 debt strikers.

block scripts
  script(src="/build/javascripts/home/index.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };
      try {
        new ViewHomeIndex(options);
      } catch(e) {
        airbrake.notify(e);
        throw e;
      }
    }, true);
