extends ../layouts/application.pug

block styles
  link(href="/build/stylesheets/home/index.css" rel="stylesheet")

block content
  .bg-light-pattern.-dark.px2.pt3
    .max-width-4.mx-auto
      h2.HomeHeading.pt1.pb3 Organize. Resist. Rebuild.
      .clearfix.md-flex
        .col.md-col-4.col-12.pb4
          h4.pb3.-primary Alone our Debts Are a Burden. Together, They Make Us Powerful.
          p.-paragraph.pb3.-gray
            The Debt Collective leverages collective power by offering debtors a shared platform for direct action. Do you want to help us build the platform? You can start by providing feedback during this development phase. Try it out, tell us what you think!
          a.-k-btn.btn-primary(href="/signup") Try it now

        .col.col-1.xs-hide &nbsp;
        .col.md-col-7.col-12.md-flex.items-end
          img.block.mx-auto.fit.pb1(src='/images/home/home-illustration-top.png')

block scripts
  script(src="/build/javascripts/home/index.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };

      new ViewHomeIndex(options);
    }, true);
