extends ../layouts/application.pug

block styles
  link(href="/build/stylesheets/home/index.css" rel="stylesheet")

block content
  .bg-light-pattern.-dark.px2.pt4
    .max-width-4.mx-auto
      h2.HomeHeading.pt1.pb3 Organize. Resist. Rebuild.
      .clearfix.md-flex
        .col.md-col-4.col-12
          p.-paragraph.pb3.-gray Corporate elites control our government and by extension our lives. They cheat workers, don’t pay their taxes, and then force us into debt for the basic necessities of life: shelter, food, education, and healthcare. We have the power to change this.
          p.-paragraph.pb1.-fw-700.-gray Alone our Debts Are a Burden.
          h4.pb3.-primary Together, They Make Us Powerful.
          button#home-bottom-anchor.-k-btn.btn-primary.inline-block.sm-hide.xs-hide
            svg(width='15' height='15')
              use(xlink:href='#svg-arrow-down')
        .col.col-1.xs-hide &nbsp;
        .col.md-col-7.col-12.md-flex.items-end
          img.block.mx-auto.fit.pb1(src='/images/home/home-illustration-top.png')
  #home-bottom-section.px2
    .max-width-4.mx-auto.relative.pb2
      .clearfix.md-flex.pb4
        .relative.col.md-col-7.col-12.order-1
          img#glitch-image.block.mx-auto.fit(src='/images/home/home-illustration-bottom.png')
          .HomeIllustrationCredits.-neutral-mid
            p This image was made by #[a.-neutral-mid.underline(href='http://angetran.tumblr.com/' target='_blank' rel='noopener noreferrer') Ange Tran], inspired by the Corinthian 200 debt strikers.
        .col.md-col-5.col-12
          blockquote.py4.-accent “If you owe the bank $50k, the bank owns you. But if you owe the bank $100 million, you own the bank.”
          h4.pb2 Together, We Own The Bank.
          p.-paragraph.pb3.-fw-500 In recent history workers won the 8-hour workday, the weekend, health and retirement benefits, and more by joining together and organizing at their workplace to challenge employers.
          p.-paragraph.pb3.-fw-500 This platform is a space where we gather to organize and challenge financial and government elites who have taken over public resources and who profit from our indebtedness.
          unless currentUser
            h4.pt1: a.js-signup-link.underlined-link(href=routeMappings.signup.url() title="Join us"): span(data-hover="Join us") Join us

block scripts
  script(src="/build/javascripts/home/index.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(UserRenderer(currentUser))},
        currentURL: !{JSON.stringify(currentURL)},
      };

      new ViewHomeIndex(options);
    }, true);
  script(type="text/javascript").
    (function(w, d, s, u) {
    	w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
    	var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
    	j.async = true; j.src = 'https://chat.debtcollective.org/packages/rocketchat_livechat/assets/rocketchat-livechat.min.js?_=201702160944';
    	h.parentNode.insertBefore(j, h);
    })(window, document, 'script', 'https://chat.debtcollective.org/livechat');
