.FormView {
  background: white;
  color: black;
  padding: 1rem;
  background-color: var(--k-color-palette-neutral-light);
  border-radius: 5px;
  border: 1px solid var(--text-4);
}

.FormView dt {
  font-weight: 600;
  float: left;
  width: 100px;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.FormView dd {
  margin-left: 120px;
}
