@import './base';
@import './components/Input';
@import './components/Select';
@import './components/disputes/StatusItem';
@import './components/disputes/FormView';

.-status {
  &-incomplete {
    color: #f5a623;
  }

  &-completed {
    color: #f04c34;
  }

  &-in-review {
    color: #267de2;
  }

  &-documents-sent {
    color: #d0021b;
  }

  &-update {
    color: #4d9900;
  }
}

.-download-disabled {
  opacity: 0.2;
}

table {
  border-spacing: 0 3px;
}

thead {
  background: white;
}

thead > tr > th {
  padding: 12px 10px 13px;
  border-right: 3px solid #f0f0f0;
  box-shadow: 0 -5px 0 0 black;
  transition: background-color 500ms;

  &:last-child {
    border-right: none;
  }
}

tbody > tr {
  background-color: white;

  &:hover {
    background-color: var(--k-color-palette-accent);
  }
}

tbody > tr > td {
  padding: 5px 10px;
}
