@import './base';
@import './components/Input';
@import './components/Select';

:root {
  /* KABINETT CONFIGURATION */
  --k-background-color: #fff;
  --k-color: #000;
  background-color: #f0f0f0;
}

/* CUSTOM STYLES */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
}

.-status {
  &-incomplete {color: #F5A623}
  &-completed {color: #F04C34}
  &-in-review {color: #267DE2}
  &-documents-sent {color: #D0021B}
  &-update {color: #4D9900}
}

table {
  border-spacing: 0 3px;
}

thead {
  background: white;
}

thead > tr > th {
  padding: 12px 10px 13px;
  border-right: 3px solid #f0f0f0;
  box-shadow: 0 -5px 0 0 black;
  transition: background-color 500ms;

  &:last-child {
    border-right: none;
  }
}

tbody > tr {
  background: white;
}

tbody > tr > td {
  padding: 10px;
}
