@import './components/Header';
@import './components/Footer';
@import './components/Modal';
@import './components/Dropdown';
@import './components/Alert';
@import './components/Button';
@import './components/ResponsiveMenu';

/* BASSCSS */
@import 'basscss-align';
@import 'basscss-border';
@import 'basscss-flexbox';
@import 'basscss-grid';
@import 'basscss-hide';
@import 'basscss-layout';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-position';
/* @import 'basscss-type-scale'; */
@import 'basscss-typography';

/* KABINETT */
@import './lib/kabinett/core/base';
@import './lib/kabinett/components/button';
@import './lib/kabinett/components/input';
@import './lib/kabinett/components/select';
@import './lib/kabinett/utilities/layout';
@import './lib/kabinett/utilities/type-font-weight';
@import './lib/kabinett/utilities/type-font-scale';
@import './lib/kabinett/utilities/aria';
@import './lib/kabinett/utilities/sizes';

@import './utils';

:root {
  /* KABINETT CONFIGURATION */
  --k-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --k-background-color: #000;
  --k-color: #fff;

  --k-color-palette-primary: #f04c34;
  --k-color-palette-danger: #d0021b;
  --k-color-palette-success: #417505;
  --k-color-palette-accent: #FEFAC0;
  --k-color-palette-neutral-dark: #242424;
  --k-color-palette-neutral-mid: #9b9b9b;
  --k-color-palette-neutral-light: #ebebeb;

  --k-h1: 7.4375rem; /* 119px */
  --k-h2: 4.1875rem; /* 67px */
  --k-h3: 2.3125rem; /* 37px; */
  --k-h4: 1.3125rem; /* 21px; */
  --k-font-caption-size: .75rem; /* 12px; */

  --k-sm-fs: calc(var(--k-font-size) * 1);
  --k-sm-p: 9px 1em 10px;
  --k-sm-h: 35px;

  /* BASSCSS CONFIGURATION */
  /* basscss-layout */
  --width-1: 23rem;
  --width-2: 36rem;
  --width-3: 48rem;
  --width-4: 60.625rem;
  /* basscss-border */
  --border-radius: 2px;
  /* basscss-padding */
  --space-1: .5rem;
  --space-2: .9375rem;
  --space-3: 1.875rem;
  --space-4: 3.75rem;

  /* Platform Variables */
  --header-height: 60px;
  --footer-height: 187px;
  --primary-lighter: color(var(--k-color-palette-primary) tint(10%));
  --primary-darker: color(var(--k-color-palette-primary) shade(10%));
}



/* CUSTOM STYLES */
body {
  background: var(--k-background-color) url('/images/global/bg-black-pattern.gif') 50% 0 repeat fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {margin: 0}

::selection {
  background-color: var(--k-color-palette-primary);
  color: #fff;
}

h2 {line-height: 1.194em; /* 80px */}
h3 {line-height: 1.081em; /* 40px */}

a {
  color: var(--k-color-palette-primary);
  text-decoration: none;

  &:hover {
    color: var(--primary-lighter);
  }

  &:not([href]) {
    text-decoration: line-through;
    opacity: .5;
  }

  &[href*="//"]:not([rel*="noopener"]),
  &[href*="//"]:not([rel*="noreferrer"]) {
    outline: 6px solid red;
    background-color: yellow;
  }
}


@media (max-width: 52em) {
  :root {font-size: 14px}
}

@media (max-width: 40em) {
  :root {font-size: 12px}
}

main {
  padding-top: var(--header-height);
}

.wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
