/* BASSCSS */
@import 'basscss-align';
@import 'basscss-border';
@import 'basscss-flexbox';
@import 'basscss-grid';
/* @import 'basscss-hide'; */
@import 'basscss-layout';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-position';
/* @import 'basscss-type-scale'; */
@import 'basscss-typography';



/* KABINETT */
@import './lib/kabinett/core/base';
@import './lib/kabinett/utilities/layout';
@import './lib/kabinett/utilities/type-font-weight';
@import './lib/kabinett/utilities/type-font-scale';
@import './lib/kabinett/utilities/aria';



@import './utils';
@import './components/Header';
@import './components/Modal';
@import './components/Dropdown';
@import './components/Alert';


:root {
  /* KABINETT CONFIGURATION */
  --k-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --k-background-color: #000;
  --k-color: #fff;

  --k-color-palette-primary: #f04c34;
  --k-color-palette-danger: #d0021b;
  --k-color-palette-accent: #FEFAC0;
  --k-color-palette-neutral-light: #ebebeb;
  --k-color-palette-neutral-dark: #242424;

  --k-h1: 119px;
  --k-h2: 67px;
  --k-h3: 37px;
  --k-h4: 21px;
  --k-font-caption-size: 12px;

  /* BASSCSS CONFIGURATION */
  /* bascss-layout */
  --width-1: 23rem;
  --width-2: 36rem;
  --width-3: 48rem;
  --width-4: 60.625rem;
  /* basscss-border */
  --border-radius: 2px;

  /* Platform Variables */
  --header-height: 60px;
  --primary-lighter: color(var(--k-color-palette-primary) tint(10%));
  --primary-darker: color(var(--k-color-palette-primary) shade(10%));

  height: 100%;
}



/* CUSTOM STYLES */
body {
  min-height: 100%;
  background: var(--k-background-color) url('/images/global/bg-black-pattern.gif') 50% 0 repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {margin: 0}

::selection {
  background-color: var(--k-color-palette-primary);
  color: var(--k-background-color);
}

a {
  color: var(--k-color-palette-primary);
  text-decoration: none;

  &:hover {
    color: var(--primary-lighter);
  }

  &:not([href]) {
    text-decoration: line-through;
    opacity: .5;
  }
}

main {
  padding-top: var(--header-height);
}

.wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/* @TODO: move to kabinett */
.-k-input {
  height: 45px;
  font-size: 16px;
  padding: 0 1rem;
  border: none;
  border-radius: 2px;
}

.-k-button {
  height: 45px;
  font-size: 16px;
  padding: 0 1rem;
  border: none;
  border-radius: 2px;

  background-color: var(--k-color-palette-primary);
  color: white;

  &:hover {
    background-color: var(--primary-lighter);
  }

  &:active {
    background-color: var(--primary-darker);
  }

  &[disabled] {
    opacity: .5;
  }
}

.-k-select {
  position: relative;
  height: 45px;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: inherit;

  &::after {
    content: "▾";
    position: absolute;
    top: 0;
    right: 1rem;
    line-height: 45px;
    pointer-events: none;
    color: currentColor;
  }

  & > select {
    font-size: 16px;
    padding: 0 1rem;
    height: 100%;
    appearance: none;
    border-radius: inherit;
    background-color: transparent;
  }
}

.-on-error {display: none}
.error .-on-error,
.error + .-on-error {display: block}

.error > input,
.error.-k-select {
  color: var(--k-color-palette-danger);
  background-color: color(var(--k-color-palette-danger) tint(80))
}
.error > select {
  color: var(--k-color-palette-danger);
}

.error ::placeholder {
  color: color(var(--k-color-palette-danger) tint(40));
}

.-primary {
  color: var(--k-color-palette-primary);
}

.-danger {
  color: var(--k-color-palette-danger);
}
