/* BASSCSS */
@import 'basscss-align';
@import 'basscss-border';
@import 'basscss-flexbox';
@import 'basscss-grid';
@import 'basscss-hide';
@import 'basscss-layout';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-position';

/* @import 'basscss-type-scale'; */
@import 'basscss-typography';

/* KABINETT */
@import '../lib/kabinett/core/base';
@import '../lib/kabinett/components/button';
@import '../lib/kabinett/components/input';
@import '../lib/kabinett/components/textarea';
@import '../lib/kabinett/components/select';
@import '../lib/kabinett/components/popover';
@import '../lib/kabinett/components/tooltip-inline';
@import '../lib/kabinett/utilities/layout';
@import '../lib/kabinett/utilities/type-font-weight';
@import '../lib/kabinett/utilities/type-font-scale';
@import '../lib/kabinett/utilities/aria';
@import '../lib/kabinett/utilities/sizes';
@import './utils';
@import './components/Footer';
@import './components/Modal';
@import './components/DonationFlow';
@import './components/Alert';
@import './components/Button';
@import './components/Popover';
@import 'flatpickr/dist/flatpickr';
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,600,800');
@import url('https://s3.amazonaws.com/tds-static/fonts/moregothic/1.0.0/More+Gothic+Bold.css');

:root {
  /* KABINETT CONFIGURATION */
  --k-font-family: 'Libre Franklin', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --k-background-color: #fcfbf7;
  --k-blue: #dbf8ff;
  --k-bg-tan: var(--k-background-color);
  --k-bg-blue: rgba(219, 248, 255, 0.8);
  --k-color: #2b2b2b;
  --principal-green: #24ba9d;
  --dc-red: #ff4630;
  --red: #f23f56;
  --blue: #007fff;
  --blue-dark: #0059b3;
  --green: #70de54;
  --purple: #9460d6;
  --orange: #f17129;
  --yellow: #ffc957;
  --blue-tint: #a6dfff;
  --red-tint: #ffb5c2;
  --green-tint: #d8ffba;
  --purple-tint: #dcc6f7;
  --orange-tint: #ffb78f;
  --yellow-tint: #ffef9e;
  --k-color-palette-primary: var(--principal-green);
  --k-color-palette-dc-red: var(--red);
  --k-color-palette-ex-blue: var(--blue);
  --k-color-palette-danger: var(--red);
  --k-color-palette-success: var(--green);
  --k-color-palette-accent: var(--yellow-tint);
  --success: var(--green-tint);
  --error: var(--red-tint);
  --info: var(--blue-tint);
  --warning: var(--orange-tint);
  --k-ex-info: var(--yellow);
  --text-0: #2b2b2b;
  --text-1: #4f4f4f;
  --text-2: #828282;
  --text-3: #bdbdbd;
  --text-4: #e0e0e0;
  --text-5: #f2f2f2;
  --k-color-palette-neutral-dark: var(--text-0);
  --k-color-palette-neutral-mid-dark: var(--text-1);
  --k-color-palette-neutral-mid: var(--text-2);
  --k-color-palette-neutral-mid-x: var(--text-4);
  --k-color-palette-neutral-light: var(--text-5);
  --k-h1: 6.625rem; /* 119px */
  --k-h2: 3.25rem; /* 67px */
  --k-h3: 2rem; /* 37px; */
  --k-h4: 1.5rem; /* 21px; */
  --k-h5: 1.125rem;
  --k-h6: 0.8125rem;
  --k-font-caption-size: 0.75rem; /* 12px; */
  --k-xs-fs: 12px;
  --k-xs-p: 7px 1em 6px;
  --k-xs-h: 25px;
  --k-sm-fs: calc(var(--k-font-size) * 1);
  --k-sm-p: 9px 1em 10px;
  --k-sm-h: 35px;
  --k-loader-color: var(--k-color-palette-primary);
  --k-tooltip-font-size: var(--k-font-caption-size);
  --k-tooltip-font-weight: 700;
  --k-tooltip-arrow-size: 5px;
  --k-tooltip-background-color: var(--k-color-palette-neutral-dark);
  --k-tooltip-color: var(--k-color-palette-neutral-light);

  /* BASSCSS CONFIGURATION */

  /* basscss-layout */
  --width-1: 23.125rem;
  --width-2: 36rem;
  --width-3: 48rem;
  --width-4: 60.625rem;

  /* basscss-border */
  --border-radius: 2px;

  /* basscss-padding */
  --space-1: 0.5rem;
  --space-2: 0.9375rem;
  --space-3: 1.875rem;
  --space-4: 3.75rem;

  /* Platform Variables */
  --header-height: 71px;
  --logo-height: 54px;
  --footer-height: 316px;
  --primary-lighter: color(var(--k-color-palette-primary) tint(15%));
  --primary-darker: color(var(--k-color-palette-primary) shade(15%));

  /* custom media queries */
  @custom-media --media-xs-up (max-width: 575px);
  @custom-media --media-sm-up (max-width: 768px);
  @custom-media --media-md-up (max-width: 992px);
  @custom-media --media-lg-up (max-width: 1200px);
}

/* CUSTOM STYLES */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    will-change: transform;
    background: var(--k-background-color)
      url('https://s3.amazonaws.com/tds-static/img/debtcollective/0.0.1/bg-tile.png');
    background-repeat: repeat;
    background-size: 20%;
  }
}

html {
  font-size: 16px;
}

* {
  margin: 0;
}

::selection {
  background-color: var(--k-color-palette-primary);
  color: #fff;
}

h2 {
  line-height: 1.194em; /* 80px */
}

h3 {
  line-height: 1.081em; /* 40px */
}

blockquote {
  font-size: 1.125rem;
}

.-paragraph {
  font-size: 0.9375rem;
}

a {
  color: var(--blue);
  text-decoration: underline;
  transition: color 260ms;

  &:hover {
    color: var(--blue-dark);
    text-decoration: underlind;
  }

  &:not([href]) {
    text-decoration: line-through;
    opacity: 0.5;
  }

  /**
   * These utility classes are useful for local
   * development and identify bad links
   * but we need to fix them to be away of
   * the different services we have. We don't need
   * to restrict the rel for sites we control.
   * For now we might want to disable them permanently
   * as they're causing problems in production.
   */

  /*
  &[href*="//"]:not([rel*="noopener"]),
  &[href*="//"]:not([rel*="noreferrer"]) {
    outline: 6px solid red;
    background-color: yellow;
  }
  */
}

a,
button,
textarea,
input,
select {
  &:focus {
    outline: none;
    border-color: rgb(132, 191, 252);
    box-shadow: 0 0 0 2px rgb(132, 191, 252);
  }
}

@media (max-width: 52em) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 40em) {
  :root {
    font-size: 12px;
  }
}

main {
  padding-top: var(--header-height);
  background: linear-gradient(var(--k-bg-blue), rgba(245, 245, 245, 0) 1000px);
  min-height: 98vh;
}

.wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.hide {
  display: none;
}

.nav-item-wrapper {
  line-height: 1;
  font-size: 1.0125rem;
}
