@import '../../base';
@import '../../components/PlayButton';
/* @import '../../components/CollectiveCard'; */
/* @import '../../components/AvatarList'; */

.underlined-link {
  border-bottom: .25em solid;
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;

  & > span {
    position: relative;
    display: block;
    transition: transform 200ms;

    &::before {
      content: attr(data-hover);
      position: absolute;
      top: 100%;
      color: var(--primary-lighter);
    }
  }

  &:hover > span {
    transform: translateY(-100%);
  }
}
