extends ../../layouts/admin.pug

block title
  | Admin/Collective/edit — The Debt Collective

block styles
  link(href="/build/stylesheets/admin/disputes/index.css" rel="stylesheet")

block content
  .wrapper.px2.pb3
    h2.pt4.pb2 Edit Collective
    pre= JSON.stringify(collective)

