extends ../layouts/application.pug

block title
  | Sign up — The Debt Collective

block styles
  link(href="/build/stylesheets/users/new.css" rel="stylesheet")

block content
  .wrapper.py4
    include ../includes/users/new-form.pug

block scripts
  script(src="/build/javascripts/users/new.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };
      new ViewUsersNew(options);
    }, true);
