.UsersNewForm__step {
  display: block;
}

#sign-up-btn-back {
  background-color: var(--k-color-palette-neutral-dark);
  color: #fff;

  &:hover {
    background-color: color(var(--k-color-palette-neutral-dark) tint(10%));
  }
}
